@charset "UTF-8";

:root{
    --cor01: #ffff;
    --cor02: #666F98;
    --cor03: #424769;
    --cor04: #2d3250;
    --cor05: #121F2F;
    --cor-letras: #F7B176;
}


body{
    background-color: var(--cor05);
    height: 100vh;
}

nav.menu-lateral{
    width: 80px;
    height: 100vh;
    background-color: var(--cor05);
    padding: 40px 0px 40px 1%;
    box-shadow: 2px 0px 10px black;
    opacity: 10;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral.expandir{
    width: 300px;
}


.btn-expandir{
    width: 100%;
    padding-left: 15px;
    margin-bottom: 10px;
}

.btn-expandir > i{
    color: var(--cor01);
    font-size: 30px;
    cursor: pointer;
}

ul{
    height: 100%;
}

ul li.item-menu:hover{
    background-color: var(--cor-letras);
}

ul li.item-menu{
    transition: 0.3s;
}

ul li.item-menu a{
    color: var(--cor01);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4px;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icone > i{
    font-size: 30px;
    margin-left: 10px;
}

.projetos .titulo{
    text-align: center;
    padding: 60px 0px;
    font-size: 45px;
    font-weight: 500;
    color: var(--cor01);
}

.projetos .container-projetos{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.projetos .projeto{
    max-width: 260px;
    max-height: 500px;
    position: relative;
    display: none;
}

.projetos .projeto.ativo{
    display: block;
}

.projetos img{
    height: 100%;
}

.projetos .projeto h3{
    background-color: var(--cor-letras);
    width: 100%;
    padding: 10px 0px 10px;
    position: absolute;
    text-align: center;
    bottom: 0;
}

.projetos .projeto .informacoes-projeto{
    background-color: var(--cor-letras);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s;
    padding: 20px;
    text-align: center;
}

.projetos .container-projetos .projeto:hover .informacoes-projeto{
    opacity: 0.7;
    background-color: black;
}

.projetos .btn-mostrar-projetos{
    background: none;
    border: 1px solid var(--cor01);
    border-radius: 25px;
    color: var(--cor01);
    width: 180px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.projetos .btn-mostrar-projetos:hover{
    background-color: var(--cor-letras);
    transition: 0.3s;
}

.projetos .btn-mostrar-projetos.remover{
    display: none;
}